<div class="row">
  <form action="/auth/signup" method="POST" class="col s12">
    <p>Login</p>
    <div class="input-field col s12">
      <input placeholder="Firstname" id="first_name" type="text" class="validate" name="first_name" >
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s12">
      <input placeholder="Lastname" id="last_name" type="text" class="validate" name="last_name" >
      <label for="last_name">Last Name</label>
    </div>
    <div class="input-field col s12">
      <input placeholder="Email" id="email" type="email" class="validate" name="email" >
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input placeholder="Password" id="password" type="password" class="validate" name="password" >
      <label for="password">Password</label>
    </div>
    <div class="input-field col s12">
      <input placeholder="Confirm Password" id="password2" type="password" class="validate" name="password2" >
      <label for="password">Confirm Password</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" >
      Submit
    </button>
    <p>Already registered? <a href="/login">Login</a>
  </form>
</div>